<template>
    <v-container>
        <v-row v-if="products.length > 0">
            <v-col cols="3" v-for="product in products" :key="product.id">
                <ProductCard :product="product"/>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import ProductCard from "../components/ProductCard";
    import { mapGetters } from 'vuex';
    export default {
        name: "BrandCatalog",
        components: {
            ProductCard
        },
        data() {
            return {
                products: []
            }
        },
        computed: {
          ...mapGetters({
              backend: 'backend'
          })
        },
        created() {
            axios.get(this.backend + '/traders/' + this.$route.params.traderID + '/products').then(response => {
                this.products = response.data.products;
            })
        }
    }
</script>

<style scoped>

</style>
