<template>
    <v-container>
        <v-row justify="center">
            <v-col cols="4">
                <v-card>
                    <v-card-title>
                        Select a delivery address
                    </v-card-title>
                    <v-card-text>
                        <v-form>
                            <v-radio-group v-model="selectedAddress" @change="calcDeliveryFee">
                                <v-radio label="No 1 Abuja Road" value="1"></v-radio>
                                <v-radio label="No 1 Gwarinpa Drive" value="2"></v-radio>
                            </v-radio-group>
                            <v-btn>Add new address</v-btn>
                        </v-form>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col cols="4">
                <v-card>
                    <v-card-title>
                        Shopping cart
                    </v-card-title>
                    <v-card-text>
                        <v-row v-for="product in products" :key="product.id">
                            <v-col>
                                <v-avatar>
                                    <v-img :src="awsUrl + product.product_images[0].link"></v-img>
                                </v-avatar>
                            </v-col>
                            <v-col>
                                {{ product.name }}
                            </v-col>
                            <v-col>
                                &#8358;{{ product.price }}
                            </v-col>
                        </v-row>

                        <div class="headline">
                            Delivery fee: &#8358;{{ deliveryFee }}
                        </div>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn large block color="tertiary" @click="paymentDialog = true">
                            Buy Now
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>

        <v-dialog v-model="paymentDialog" width="500">
            <v-card>
                <v-card-text>
                    <Payment @paymentMade="orderPlaced"/>
                </v-card-text>
            </v-card>
        </v-dialog>

        <v-dialog v-model="orderDialog" persistent width="500">
            <v-card>
                <v-card-title>
                    Order received
                </v-card-title>
                <v-card-text>
                    Your order has been placed.
                    Delivery expected by 20 April
                </v-card-text>
                <v-card-actions>
                    <v-btn @click="$router.push({name: 'Home'})">
                        Continue shopping
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
    import { mapGetters } from "vuex";
    import Payment from "../components/Payment";
    export default {
        name: "Checkout",
        components: {
            Payment
        },
        data() {
            return {
                deliveryFee: 1500,
                selectedAddress: 1,
                paymentDialog: false,
                orderDialog: false
            }
        },
        computed: {
            ...mapGetters({
                products: 'shoppingCart/products',
                awsUrl: 'awsUrl'
            })
        },
        methods: {
            calcDeliveryFee() {
                console.log(this.selectedAddress);
                this.deliveryFee =  (this.selectedAddress == 1 ? 1500 : 2000)
            },
            orderPlaced() {
                this.paymentDialog = false;
                this.orderDialog = true;
            }
        }
    }
</script>

<style scoped>

</style>
