<template>
    <v-container>
        <v-row v-if="product">
            <v-col cols="6">
                <v-carousel height="730">
                    <v-carousel-item
                            v-for="image in product.product_images"
                            :key="image.id"
                            :src="awsUrl + image.link"
                            reverse-transition="fade-transition"
                            transition="fade-transition"
                    ></v-carousel-item>
                </v-carousel>
            </v-col>
            <v-col>
                <v-row justify="between">
                    <v-col>
                        <div class="display-1">
                            {{ product.name }}
                        </div>
                        <v-rating :value="5"></v-rating>
                    </v-col>
                    <v-col>
                        <div class="display-1">
                            &#8358;{{ product.price }}
                        </div>
                    </v-col>
                </v-row>
                <v-divider>
                </v-divider>
                <v-row>
                    <v-col>
                        {{ product.description }}
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-select :items="[1]" label="Quantiy" v-model="quantity">
                        </v-select>
                    </v-col>
                    <v-col>
                        <v-btn>
                            Add to Cart
                        </v-btn>
                    </v-col>
                    <v-col>
                        <v-btn @click="$router.push({name: 'Checkout'})">
                            Proceed to checkout
                        </v-btn>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>

        <v-divider>
        </v-divider>

        <v-row>
            <div class="display-1">
                {{ product.trader.full_name }}
            </div>
            <div>
                <v-img :src="awsUrl + product.trader.profile_image"></v-img>
            </div>
        </v-row>
    </v-container>
</template>

<script>
    import { mapGetters } from 'vuex';
    export default {
        name: "ProductDetails",
        data() {
            return {
                product: null,
                quantity: 1
            }
        },
        computed: {
            ...mapGetters({
                backend: 'backend',
                awsUrl: 'awsUrl'
            })
        },
        created() {
            axios.get(this.backend + '/products/' + this.$route.params.productID).then(response => {
                this.product = response.data.product;
            });
        }
    }
</script>

<style scoped>

</style>
