<template>
    <v-container>
        <v-row>
            <v-col cols="3" v-for="product in searchHits" :key="product.id">
                <ProductCard :product="product"/>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import ProductCard from "../components/ProductCard";
    import { mapGetters } from 'vuex';
    export default {
        name: "ProductsCatalog",
        components: {
            ProductCard
        },
        computed: {
            ...mapGetters({
                searchHits: 'productSearch/searchHits'
            })
        }
    }
</script>

<style scoped>

</style>
