<template>
  <v-container>
    <div class="headline text-center">
      Get your essentials delivered safely to you
    </div>
    <v-row class="text-center" justify="center">
      <v-col cols="8" v-if="stateID != null">
        <v-text-field v-model="query" class="search-input" solo type="search" placeholder="WHAT DO YOU WANT TO BUY? TRY SUGAR" label="What are you looking for ?" @keyup.enter="goToCatalog"></v-text-field>
        <div id="hits-container" v-if="searchHits.length > 0">
          <v-card width="100%">
            <v-card-text>
              <div class="search-hit" v-for="hit in searchHits" :key="hit.id" @click="goToCatalog">
                {{ hit.name }}
              </div>
            </v-card-text>
          </v-card>
        </div>
      </v-col>
      <v-col cols="2">
        <v-select :items="states" item-value="id" item-text="name" solo @change="updateStateID" label="WHERE ARE YOU BASED ?"></v-select>
      </v-col>
<!--      <v-col cols="8" id="hits-container" v-if="searchHits.length > 0">-->
<!--        <v-card width="100%">-->
<!--          <v-card-text>-->
<!--            <div class="search-hit" v-for="hit in searchHits" :key="hit.id">-->
<!--              {{ hit.name }}-->
<!--            </div>-->
<!--          </v-card-text>-->
<!--        </v-card>-->
<!--      </v-col>-->
    </v-row>
<!--    <v-row class="text-center" justify="center">-->
<!--      -->
<!--    </v-row>-->

    <v-carousel height="430">
      <v-carousel-item
              v-for="(item,i) in items"
              :key="i"
              :src="item.src"
              reverse-transition="fade-transition"
              transition="fade-transition"
      ></v-carousel-item>
    </v-carousel>

    <v-divider></v-divider>

    <div class="text-center headline mt-5">
      Major Brands
    </div>
    <v-row justify="center" class="darkColor">
      <v-col cols="2">
        <v-card class="brand-card" @click="goToTraderCatalog(1)">
          <v-img src="https://naijamart.s3.amazonaws.com/Dangote-01.svg"></v-img>
        </v-card>
      </v-col>
      <v-col cols="2">
        <v-card>
          <v-img src="https://naijamart.s3.amazonaws.com/sahad.svg" class="brand-card" @click="goToTraderCatalog(2)"></v-img>
        </v-card>
      </v-col>
      <v-col cols="2">
        <v-card>
          <v-img src="https://naijamart.s3.amazonaws.com/dalema.svg" class="brand-card" @click="goToTraderCatalog(3)"></v-img>
        </v-card>
      </v-col>
      <v-col cols="2">
        <v-card>
          <v-img src="https://naijamart.s3.amazonaws.com/dialogue.svg" class="brand-card" @click="goToTraderCatalog(4)"></v-img>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import { mapActions, mapMutations, mapGetters } from 'vuex';
  import _ from 'lodash';
  export default {
    name: 'HomeContent',

    data: () => ({
      query: '',
      states: [
        {
          id: 1,
          name: 'Abuja'
        },
        {
          id: 2,
          name: 'Kaduna'
        },
        {
          id: 3,
          name: 'Kano'
        },
        {
          id: 4,
          name: 'Lagos'
        }
      ],
      items: [
        {
          src: 'https://naijamart.s3.amazonaws.com/tomato-display-in-a-market-shuterstock.jpg',
        },
        {
          src: 'https://naijamart.s3.amazonaws.com/safrica-1.jpg',
        },
        {
          src: 'https://naijamart.s3.amazonaws.com/farmers-market-1329008.jpg',
        },
        {
          src: 'https://naijamart.s3.amazonaws.com/stall-or-shop-selling-grain-rice-and-cereal-in-albert-market-banjul-B06MXY.jpg',
        },


        {
          src: 'https://naijamart.s3.amazonaws.com/bell-peppers-1264209_1920.jpg',
        },
        {
          src: 'https://naijamart.s3.amazonaws.com/beans-2606866_1920.jpg',
        },
        {
          src: 'https://naijamart.s3.amazonaws.com/others/shelf-3840441_1920.jpg',
        },
        {
          src: 'https://naijamart.s3.amazonaws.com/81EcJeRNH5L._AC_SL1200_.jpg',
        },
      ],
    }),

    computed: {
      ...mapGetters({
        stateID: 'productSearch/stateID',
        searchHits: 'productSearch/searchHits'
      })
    },

    watch: {
      query: {
        handler: _.debounce(function () {
          this.updateSearchQuery(this.query);
          this.searchProducts()
        }, 100)
      }
    },

    methods: {
      ...mapActions({
        searchProducts: 'productSearch/searchProducts'
      }),
      ...mapMutations({
        updateSearchQuery: 'productSearch/updateSearchQuery',
        updateStateID: 'productSearch/updateStateID'
      }),
      goToCatalog() {
        this.$router.push({name: 'Product Catalog'});
      },
      goToTraderCatalog(traderID) {
        this.$router.push({
          name: 'Trader Catalog',
          params: {
            traderID: traderID
          }
        })

      }
    }
  }
</script>
<style>
  .search-hit {
    text-align: left;
    padding: 1em;
  }
  .search-hit:hover {
    background: lightgray;
    cursor: pointer;
  }
  #hits-container {
    position: absolute;
    top: 110px;
    z-index: 2;
    width: 60%;
  }
  .brand-card { transition: all .5s ease-in-out; }
  .brand-card:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
</style>
