<template>
    <div>
        <v-text-field :label="inputLabel" v-model="boundValue" :type="inputType"
                      @input="errorObj.clear(errorName)"></v-text-field>
        <div v-if="errorObj.has(errorName)" class="text-danger">
            {{ errorObj.get(errorName) }}
        </div>
    </div>
</template>

<script>
    export default {
        name: "NMInput",
        props: ['inputLabel', 'inputType', 'inputVal', 'errorObj', 'errorName'],
        computed: {
            boundValue: {
                get() {
                    return this.inputVal
                },
                set(val) {
                    this.$emit('input', val)
                }
            }
        }
    }
</script>
