<template>
    <div id='app' class="pt-4">
        <h1>Enter card details:</h1>
        <card class='stripe-card'
              :class='{ complete }'
              stripe='pk_test_K77H3eMplzaKRdC5R9hx6dnx'
              @change='complete = $event.complete'
        />
        <v-btn class='pay-with-stripe' @click='pay' :disabled='!complete'>Make payment</v-btn>
    </div>
</template>
<script>
    // import { stripeKey, stripeOptions } from './stripeConfig.json'
    import { Card, createToken } from 'vue-stripe-elements-plus'

    export default {
        name: "Payment",
        data () {
            return {
                complete: false,
                stripeOptions: {
                    // see https://stripe.com/docs/stripe.js#element-options for details
                }
            }
        },

        components: { Card },

        methods: {
            pay () {
                this.$emit('paymentMade')
                // createToken returns a Promise which resolves in a result object with
                // either a token or an error key.
                // See https://stripe.com/docs/api#tokens for the token object.
                // See https://stripe.com/docs/api#errors for the error object.
                // More general https://stripe.com/docs/stripe.js#stripe-create-token.
                //createToken().then(data => console.log(data.token))
            }
        }
    }
</script>

<style>
    .stripe-card {
        width: 300px;
        border: 1px solid grey;
    }
    .stripe-card.complete {
        border-color: green;
    }
</style>

