<template>
    <v-card>
        <v-img height="400px" :src="awsUrl + product.product_images[0].link"></v-img>
        <v-card-title>{{ product.name }}</v-card-title>
        <v-card-text>
            {{ product.description }}
        </v-card-text>
        <v-card-actions>
            <v-btn
                    color="darkColor"
                    text
            >
                &#8358; {{ product.price }}
            </v-btn>

            <v-btn
                    @click="addToCart(product)"
                    color="darkColor"
                    text
            >
                Add to Cart
            </v-btn>
            <v-spacer>
            </v-spacer>
            <v-btn @click="goToProductDetails">
                View Product
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import {mapMutations, mapGetters} from 'vuex';

    export default {
        name: "ProductCard",
        props: ['product'],
        methods: {
            ...mapMutations({
                addToCart: 'shoppingCart/addToCart'
            }),
            goToProductDetails() {
                this.$router.push({
                    name: 'Product Details', params: {productID: this.product.id}
                })
            }
        },
        computed: {
            ...mapGetters({
                awsUrl: 'awsUrl'
            })
        },
    }
</script>
