<template>
    <v-badge color="error" overlap class="float-right mt-8 mr-6" :content="productCount">
        <v-btn fab>
            <v-icon>mdi-cart</v-icon>
        </v-btn>
    </v-badge>
</template>

<script>
    import { mapGetters, mapMutations } from 'vuex';
    export default {
        name: "ShoppingCart",
        computed: {
            ...mapGetters({
                productCount: 'shoppingCart/productCount'
            })
        },
        methods: {
            ...mapMutations({

            })
        }
    }
</script>

<style scoped>

</style>
