<template>
    <div>
        <v-btn>
            Sign Up
        </v-btn>
        <v-dialog v-model="dialog" height="800" width="400">
            <v-card>
                <v-card-title class="headline text-center">
                    <v-card-text>

                    </v-card-text>
                </v-card-title>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    export default {
        name: "SignUpModal",
        data() {
            return {
                dialog: false
            }
        }
    }
</script>

<style scoped>

</style>
