<template>
  <v-app>
    <v-app-bar
            app
            color="primary"
            v-if="!$route.meta.usesSideNav"
            class="hidden-md-and-down"
    >
      <div class="d-flex align-center hidden-md-and-down" @click="$router.replace('/')">
        <v-img
                alt="App Logo"
                class="shrink mr-2"
                contain
                :src="require('./assets/Essential-07 (1).svg')"
                transition="scale-transition"
                width="400"
        />
      </div>

      <router-link to="/" class="mr-2 hidden-md-and-down">
        <v-btn text>
          Provision
        </v-btn>
      </router-link>
      <router-link to="/about" class="mr-2 hidden-md-and-down">
        <v-btn text>
          Perishables
        </v-btn>
      </router-link>
      <router-link to="/news" class="mr-2 hidden-md-and-down">
        <v-btn text>
          Grains
        </v-btn>
      </router-link>
      <router-link to="/blog" class="mr-2 hidden-md-and-down">
        <v-btn text>
          Clothing
        </v-btn>
      </router-link>
      <router-link to="/blog" class="mr-2 hidden-md-and-down">
        <v-btn text>
          Medical
        </v-btn>
      </router-link>
      <router-link to="/blog" class="mr-2 hidden-md-and-down">
        <v-btn text>
          Toiletries
        </v-btn>
      </router-link>

      <v-spacer></v-spacer>

      <v-btn text class="hidden-md-and-down">
        <span class="mr-2">Become a Trader</span>
        <v-icon>mdi-cash</v-icon>
      </v-btn>
      <v-btn text class="hidden-md-and-down">Hello Mahfouz</v-btn>
<!--      <v-btn text class="hidden-md-and-down" v-if="!authCheck">Sign Up</v-btn>-->
      <v-btn text class="hidden-md-and-down">Logout</v-btn>
    </v-app-bar>

    <v-content>
      <ShoppingCart/>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
import ShoppingCart from "./components/ShoppingCart";
import { mapGetters } from "vuex";
export default {
  name: 'App',
  components: {
    ShoppingCart
  },

  data: () => ({
    //
  }),

  computed: {
    ...mapGetters({
      authCheck: 'auth/authCheck'
    })
  }
};
</script>
<style>
  .theme--light.v-btn {
    color: #E7C16D;
  }
</style>
